<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <% if (username !== undefined){ %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    <% } else { %>
    <h1>Register or login to shorten your own URLs!</h1>
    <% } %>
  </body>
</html>