<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>Register!</title>
</head>
<body>
  <h2>Email</h2>
  <form action="/register" method="POST">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="example@example.com" style="width: 300px">
  <h2>Password</h2>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="supersecretpassword" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>